body{
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
  }
  
  nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 80px;
   background-color: #383838;
  }

  nav ul{
    display: flex;
    justify-content: center;
  }

  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {  
    text-decoration: none;
    color: white;
  }

  nav ul li a:hover {
   color: #00BD95;
  }
  .left-side{
    color: #00BD95;
    font-size: 1.5rem;
  }
 
  .hero-section{
    display: flex;
    /* justify-content: space-around; */
  }

  .text{
    height: 500px;
    width: 20vw;
    background-color: aqua;

  }

  .image{
    height: 500px;
    width: 50vw;
    background-color: rgb(0, 255, 170);
  }
  